
@{
    ViewBag.Title = "Compte";
}

<div class="myBodyOther">
    <div id="main">
        <div class="inner">
            <section>
                <center>
                    <h1>Mon compte</h1>
                    <br />
                    <div id="panneauClient">
                        <div id="blocCommandes">
                            <b>Mes informations</b>
                        </div>
                        <div id="blocProfil">
                            <b>Mes commandes</b>
                        </div>
                    </div>
                </center>
            </section>
        </div>
    </div>
</div>

