
@{
    ViewBag.Title = "Compte";
}

<div class="myBodyOther">
    <div id="main">
        <div class="inner">
            <section>
                <center>
                    <h1>Mon compte</h1>
                    <br />
                    <table id="tabCompte">
                        <tr>
                            <td>
                                <div id="blocCommandes">
                                    salut
                                </div>
                            </td>
                            <td>
                                <div id="blocProfil">
                                    salut
                                </div>
                            </td>
                        </tr>
                    </table>
                </center>
            </section>
        </div>
    </div>
</div>

